<!DOCTYPE html>
<html ng-app="store"> 
  <head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head> 
  <body ng-controller="StoreController as store"> 
  	<ul class="list-group">
  		<li class="list-group-item" ng-repeat="product in store.products">
  			<h3>
  				{{product.name}}
  				<em class="pull-right">{{$product.price | currency}}
  			</h3>
    </ul>
    <ul class="nav nav-pills">
      <li>
        <div class="panel" ng-show="tab === 1">
          <h4>Description</h4>
          <p> {{product.description}} </p>
        </div>
      </li>
      <li>
        <div class="panel" ng-show"tab === 2">
          <h4> Specifications </h4>

          <form name="reviewForm">
            <blockquote ng-repeat="review in product.reviews">
              <b> Stars: {{review.stars}} </b>
              <cite> by: {{review.author}}
              </cite> 
            </blockquote>
            <select ng-model="review.stars">
              <option value="1"> 1 stars </option>
              <option value="2"> 2 stars </option>
            </select>
            <textarea ng-model="review.body"></textarea>
            <label></label>
            <input ng-model="review.author"type="email"/>
            <input type="submit" value="Submit"/>

          </form>
        </div>
      </li>
      <li>
        <div class="panel" ng-show="tab === 3"> 
          <h4> Reviews </h4>
          <blockquote> None yet </blockquote>
        </div>
  		</li>
  	</ul>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body> 
</html>
